<ion-header>
  <ion-toolbar style="color: #0F121E">
    <ion-title align="center" style=" color:aliceblue; font-weight: bold;">Watchlist</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let m of seleccionadas">
    <ion-card-title align="center" style=" color:aliceblue; font-weight: bold;">{{m.Title}}</ion-card-title>
    <ion-card-content align="center">
      <img src="{{m.Poster}}">
    </ion-card-content>
  </ion-card>
</ion-content>



<ion-footer>
  <ion-toolbar>
    <ion-tabs>

      <ion-tab-bar slot="bottom">
    
        <ion-tab-button [routerLink]="['/movies']">
          <ion-icon name="search-outline"></ion-icon>
          <ion-label>Search</ion-label>
        </ion-tab-button>
    
        <ion-tab-button [routerLink]="['/my-movies']">
          <ion-icon name="bookmark-outline"></ion-icon>
          <ion-label>Watchlist</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    
    </ion-tabs>
  </ion-toolbar>
</ion-footer>