<ion-header>
  <ion-toolbar color="navy" >
    <ion-title align="center" style="color:aliceblue;  font-weight: bold;">CineFiles</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <div class="searchButton">
    <ion-fab horizontal="center">
      <ion-fab-button color="light" (click)="onButtonClick()">
        <ion-icon name="search"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    </div>


  <div class="searchBar">
    <ion-searchbar *ngIf="buttonClicked"  color="light" [(ngModel)]="nombre" (ionChange)="busqueda($event)" placeholder="Search"></ion-searchbar>
  </div>

  <ion-list *ngIf="buttonClicked">
    <ion-item button  style="color:snow" *ngFor="let i of (resultados | async)" [routerLink]="['/movies', i.imdbID]">
      <ion-avatar slot="start">
        <img [src]="i.Poster" *ngIf="i.Poster != 'N/A'">
      </ion-avatar>
 
      <ion-label text-wrap>
        <h3>{{ i.Title }}</h3>
        {{ i.Year }}
      </ion-label>
 
    </ion-item>
    
  </ion-list>

  
  
</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-tabs>

      <ion-tab-bar slot="bottom">
    
        <ion-tab-button [routerLink]="['/movies']">
          <ion-icon  style=" color: white;" name="search-outline"></ion-icon>
          <ion-label >Search</ion-label>
        </ion-tab-button>
    
        <ion-tab-button [routerLink]="['/my-movies']">
          <ion-icon  style=" color: white;" name="bookmark-outline"></ion-icon>
          <ion-label  >Watchlist</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    
    </ion-tabs>
  </ion-toolbar>
</ion-footer>